    <div class="kickstart-projectitem">



        <h2><a href=" [detailurl]">
            [Subject]</a></h2>
            <p>[Summary]</p>
            <div class="kickstart-projectitem-meta">
                <ul>
                    <li class="kickstart-projectitem-lead">
                        [HasLead]<span class="kickstart-projectitem-haslead">
                            [Resx:Lead]: <a href="[LeadByProfileUrl]">[LeadByDisplayname]</a>[/HasLead]
                            [HasNoLead]<span class="kickstart-projectitem-nolead">[Resx:NoLeadYet]</span>[/HasNoLead]
                    </li>
                    <li class="kickstart-projectitem-createdby">
                        [Resx:CreatedByLabel]: <a href="[createdbyprofileurl]">[createdbyDisplayname]</a>
                    </li>
                    <li class="kickstart-projectitem-votes">
                        [VotesCount] [Resx:Votes]
                    </li>
                    <li class="kickstart-projectitem-members">
                        [TeamMembersCount] [Resx:TeamMembers]
                    </li>
                </ul>
            </div>
        </div>