    <div class="kickstart-projectitem">

        <h2><a href="[DetailUrl]">[Subject]</a></h2>
        <p>[Summary]</p>
        <div class="kickstart-projectitem-meta">
            <ul>
                <li class="kickstart-projectitem-lead">
                    [HasLead]<span class="kickstart-projectitem-haslead">
                        <a href="[Project:LeadProfileUrl]">[Project:LeadDisplayname]</a>[/HasLead]
                        [HasNoLead]<span class="kickstart-projectitem-nolead">[Resx:NoLeadYet]</span>[/HasNoLead]
                </li>
                <li class="kickstart-projectitem-votes">
                    [Votes] [Resx:Votes]
                </li>
                <li class="kickstart-projectitem-members">
                    [TeamMembers] [Resx:TeamMembers]
                </li>
            </ul>
        </div>
    </div>