

[IfIsLocked]<div>[Resx:IsLockedStatus], [Resx:ItHasBeenLocked] [Resx:By] [LockedByDisplayname] [Resx:On] [DateLocked]</div>[/IfIsLocked]
[IfIsDeleted]<div>[Resx:IsDeletedStatus] [Resx:ItHasBeenDeleted] [Resx:By] [DeletedByDisplayname] [Resx:On] [DateDeleted]</div>[/IfIsDeleted]
[IfIsHidden]<div>[Resx:IsHiddenStatus], [Resx:ItHasBeenCreated] [Resx:By] [Resx:CreatedByDisplayname] [Resx:On] [DateCreated]</div>[/IfIsHidden]
[IfIsVisible]<div>[Resx:IsVisibleStatus], [Resx:ItHasBeenCreated] [Resx:By] [CreatedByDisplayname] [Resx:On] [DateCreated]</div>[/IfIsVisible]